<?xml version="1.0"?>
<ruleset name="JejakJournal">
	<description>PHPCS configuration for Jejak Journal plugin.</description>
	<rule ref="10up-Default"/>
	<config name="testVersion" value="8.2-"/>
	<file>.</file>
	<exclude-pattern>*/vendor/*</exclude-pattern>
	<exclude-pattern>*/example-plugin/*</exclude-pattern>
	<exclude-pattern>*/tests/*</exclude-pattern>
</ruleset>
